th.oe_multiheader-group {
    text-align: center;
    border: 1px solid #DFDFDF;
}
th.oe_multiheader-field {
    border: 1px solid #DFDFDF;
}
.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_list_multiheader:after {
  padding: 2px;
  content: "i";
}
